<!DOCTYPE html>
<html>
    <meta lang="et-GB">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home Estonia - Royal Asian Restaurant</title>
        <meta name="description" content="Royal, Asian, Restaurant, Chinese, Indian, Nepali, Thai, Food, Suur 6, Jõgeva, Estonia, Reservation, Booking, Online, Order, Takeaway"/>
        <!--Bootstrap CDN files-->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
          <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
          <link rel="stylesheet" href="./component/css/style.css">    
          <script src="https://kit.fontawesome.com/d62bf6ec58.js" crossorigin="anonymous"></script>
        </head>
    <body>
        <!--This is for navigation and all the header element like a logo and language selection-->
        <header>  
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#"><img src="./component/Image/royalAsianRestaurant.png" alt="Royal Asia Restautant"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                <a class="nav-link m-auto" href="#home">Kodu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#aboutUs">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="./component/pages/appitiser.html">Appetisers</a>
                  <a class="dropdown-item" href="./component/pages/soups.html">Soups</a>
                  <a class="dropdown-item" href="./component/pages/salad.html">Salads</a>
  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Chicken</a>
                  <a class="dropdown-item" href="#">Pork</a>
                  <a class="dropdown-item" href="#">Beef</a>
                  <a class="dropdown-item" href="#">Lamb</a>
                  <a class="dropdown-item" href="./component/pages/seafood.html">Seafood</a>
                  <a class="dropdown-item" href="./component/pages/other_meat.html">Other Meats</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Vegetarian</a>
                  <a class="dropdown-item" href="./component/pages/side_dish.html">Side Dishes</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Children's Menu</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="./component/pages/dessert.html">Desserts</a>
                  <a class="dropdown-item" href="./component/pages/drinks.html">Drinks</a>      
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Reservation</a>
                  <a class="dropdown-item" href="#">Take Away</a>
                 </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="language">
              <a href="#"><img src="./component/Image/estonia.png" alt="est"></a>
              <a href="#" class="active"><img src="./component/Image/english-language.png" alt="eng"></a>
              <a href="#"><img src="./component/Image/russia.png" alt="rus"></a>
              </div>
        </nav>
        </header>
      <!--  <div class="header-main-gap">-->  

        </div>
        <main>
          <!--Image Carousel  -->
          <div id="home">
              <div id="demo" class="carousel slide" data-ride="carousel">

                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                  </ul>
                
                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="./component/Image/image1.jpg" alt="img1">
                    </div>
                    <div class="carousel-item">
                      <img src="./component/Image/image2.jpg" alt="img2">
                    </div>
                    <div class="carousel-item">
                      <img src="./component/Image/image3.jpg" alt="img3">
                    </div>
                    <div class="carousel-item">
                      <img src="./component/Image/image4.jpg" alt="img4">
                    </div>
                  </div>
                
                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
          </div>
          <!-- ######## -->
          <!--About Us page-->
          <div class="aboutUs" id="aboutUs">
            <div class="aboutUs-headingContent">
               <center><h2 class="aboutUs-heading">About Us</h2> </center> 
                <hr class="hr-style">
            </div>
            <div class="row">
              <div class="offset-md-1"></div>   
              <div class="col-md-5">
                    <div class = "aboutUs-image" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in">
                        <img src="./component/Image/aboutUs.jpg" alt="Image of Restaurant">
                    </div>
                </div> 
               
              <div class="col-md-5 offset-md-1" >
                
                <div class="aboutUs-content imae" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in">
  
                  <h3>Welcome to the Royal Asian Restaurant!</h3>
                  <p>We are located in heart of Jõgeva County at Suur 6. We offer delicious different kitchens’ cuisines such as Chinese, Thai, Indian & Nepali.</p>
                  <p>Our cuisines are made from fresh ingredients according to the original recipes.</p>

                  <p>We offer free basmati rice with Nepalese and Thai meat dishes and give 10 % discount to students and teachers with the ISIC and ITIC cards.</p>
                  <p>Delivery to home and take away are offered to our clients.</p>    
                      
                  <p>Daily offers M-F at 10-15: Day Special Lunch € 3.20 (with 1. Rice or 2. Noodles) and 3. Soup € 2 together with free lemon water.</p>    
                      
                  <p>Please contact with us in advance for major birthdays and celebrations.<br>Come and Enjoy with Us !!</p>    
                </div>
            </div>
          </div>
          <!--#####About Us -->
          <div class="menu" id="menu">
            <div class="menu-heading">
              <center><h2>Some Special Dishes</h2></center>
              <hr class="hr-style">
            </div>
            <div class="menu-list">
              <div class="row">
                <div class="offset-md-1"></div>
                <div class="col-md-3">
                  <div class="menu-item-group " data-aos="fade-right" data-aos-duration="1000" >
                      <div class="card">
                          <img class="card-img-top" src="./component/Image/image1.jpg" alt="Card image">
                          <div class="card-img-overlay">
                            <h4 class="card-title">Chicken Biryani</h4>
                            <p class="card-text">Rice ,Chicken and Raita</p>
                            <a href="#" class="btn btn-primary btn-sm">More Related</a>
                          </div>
                        </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="menu-item-group"data-aos="fade-down" data-aos-duration="1000">
                      <div class="card">
                          <img class="card-img-top" src="./component/Image/image2.jpg" alt="Card image">
                          <div class="card-img-overlay">
                            <h4 class="card-title">Chicken Biryani</h4>
                            <p class="card-text">Rice ,Chicken and Raita</p>
                            <a href="#" class="btn btn-primary btn-sm">More Related</a>
                          </div>
                        </div>
                  </div> 
                </div>
                <div class="col-md-3">
                  <div class="menu-item-group" data-aos="fade-left btn-sm" data-aos-duration="1000">
                      <div class="card">
                          <img class="card-img-top" src="./component/Image/image3.jpg" alt="Card image">
                          <div class="card-img-overlay">
                            <h4 class="card-title">Chicken Biryani</h4>
                            <p class="card-text">Rice ,Chicken and Raita</p>
                            <a href="#" class="btn btn-primary btn-sm">More Related</a>
                          </div>
                        </div>
                  </div>
                </div> 
              </div>
              <div class="row">
                  <div class="offset-md-1"></div>
                  <div class="col-md-3">
                    <div class="menu-item-group " data-aos="fade-right" data-aos-duration="1000">
                        <div class="card">
                            <img class="card-img-top" src="./component/Image/image1.jpg" alt="Card image">
                            <div class="card-img-overlay">
                              <h4 class="card-title">Chicken Biryani</h4>
                              <p class="card-text">Rice ,Chicken and Raita</p>
                              <a href="#" class="btn btn-primary btn-sm">More Related</a>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="menu-item-group"data-aos="fade-up" data-aos-duration="1000">
                        <div class="card">
                            <img class="card-img-top" src="./component/Image/image3.jpg" alt="Card image">
                            <div class="card-img-overlay">
                              <h4 class="card-title">Chicken Biryani</h4>
                              <p class="card-text">Rice ,Chicken and Raita</p>
                              <a href="#" class="btn btn-primary btn-sm">More Related</a>
                            </div>
                          </div>
                    </div> 
                  </div>
                  <div class="col-md-3">
                    <div class="menu-item-group" data-aos="fade-left" data-aos-duration="1000">
                        <div class="card">
                            <img class="card-img-top" src="./component/Image/image2.jpg" alt="Card image">
                            <div class="card-img-overlay">
                              <h4 class="card-title">Chicken Biryani</h4>
                              <p class="card-text">Rice ,Chicken and Raita</p>
                              <a href="#" class="btn btn-primary btn-sm">More Related</a>
                            </div>
                          </div>
                    </div>
                  </div> 
                </div>
            </div>
          </div>
          <!--######Menu List-->
          <!--Our Services-->
          <div class="service" id="service">
            <div class="services-heading-items">
            <center><h2> Our Services</h2></center>
              <hr class="hr-style">
            </div>
            <div class="services-options">
             <div class="row">
                <div class="offset-md-1"></div>
                  <div class="col-md-5">
                    <div class="reservationContent" data-aos="flip-up" data-aos-duration="1000">
                      <center>  
                      <div class="icon-space">
                            <i class="fa fa-bookmark fa-5x"></i>
                        </div>
                        <h4>Table Reservation</h4>
                        
                        <p>You can reserve a table in our restaurant and come at a scheduled time!</p>
                        <a href="#">Reserve now! <i class="fas fa-arrow-right"></i></a></center>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="takeawaycontent" data-aos="flip-down" data-aos-duration="800">
                      <center>  
                      <div class="icon-space">
                            <i class="fa fa-shopping-bag fa-5x"></i>
                        </div>
                        <h4>TakeAway Food</h4>
                        
                        <p>Come and take it away with you!</p>
                        <a href="#">TakeAway now! <i class="fas fa-arrow-right"></i></a></center>
                    </div>
                      
                  </div>
                <div class="offset-md-1 col-md-5"></div>
              </div>
            </div> 
          </div>
          <!--####Our Services-->
          <!--Contact Page-->
          <div class="contact" id="contact">
            <div class="contact-heading-content">
              <center><h2>Contact Us</h2></center>
              <hr class="hr-style">
            </div>
            <div class="contact-content">
              <div class="row">
              <div class="offset-md-1"></div>
               <div class="col-md-5">
                 <div class="embeddedmap" data-aos="zoom-out" data-aos-duration="1000">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2070.0216585372964!2d26.398229999999998!3d58.746462199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4694a8e0e8d67975%3A0x6ff8bc23a69b962!2sKashmir%20Restoran%20and%20caffee!5e0!3m2!1sen!2sin!4v1572163733700!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                  </div>
                  
                </div>
               <div class="col-md-5">
                 <div class="form-content" data-aos="fade-left" data-aos-duration="1000">
                      <center><h4>Drop Us a Message!</h4></center>
                      <div class="row">
                        <div class="col-lg-12">
                            <form class="contactForm">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="field form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"/>
                                  </div>
                                  <div class="field form-group">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Your Email"/>
                      
                                  </div>
                                  <div class="field form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"/>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="field message form-group">
                                    <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                                  </div>
                                  <div class="col-lg-12">
                                      <input type="submit" value="Send message" class="btn btn-info">
                                  </div>
                                  
                                </div>
                              </div>
                            </form>
                        </div>
                      </div>
                </div>
              </div>
               <div class="offset-md-1"></div>
             </div>
            </div>
          </div>
        </main>

        <footer class="footer-distributed">
 
            <div class="footer-left">
                <img src="./component/Image/royalAsianRestaurant.png">
              <h3>Royal<span>Asian</span>Restaurant</h3>
       
              <p class="footer-links">
                <a href="#home">Home</a>
                |
                <a href="#aboutUs">About Us</a>
                |
                <a href="#menu">Our Menu</a>
                |
                <a href="#service">Our Service</a>
                |
                <a href="#contact">Contact</a>
              </p>
       
              <p class="footer-company-name">© 2019 Rajan Raj Das</p>
            </div>
       
            <div class="footer-center">
              <div>
                <i class="fas fa-map-marker"></i>
                  <p><span>Royal Asian Restaurant<br> 
                      Suur 6, Jõgeva, Estonia</span></p>
                  </div>
              <div>
                <i class="fas fa-phone"></i>
                <p>7732313</p>
              </div>
              <div>
                <i class="fas fa-envelope"></i>
                <p><a href="mailto:abcde@example.com">royalasianrest@gmail.com</a></p>
              </div>
            </div>
            <div class="footer-right">
              <div class="footer-icons">
                <div>
                  <a href="#"><i class="fa fa-facebook"></i></a>  
                </div>
                <div><a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <br>
                <div>
                  <h4 style="color: aliceblue;">Language</h4>
                <a href="#"><img src="./component/Image/estonia.png" alt="est"></a>
                <a href="#"><img src="./component/Image/english-language.png" alt="eng"></a>
                <a href="#"><img src="./component/Image/russia.png" alt="rus"></a>
                </div>
              </div>
            </div>
          
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.js" integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
        <script>
            AOS.init();
          </script>
      </body>
</html> 