@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Playfair Display', serif;
}
body{
    
    margin: 0;
    padding: 0;
    overflow-x: hidden
   
} 
header{
    margin: 0;
    padding: 0;
}
.language{
    position: inherit;
    float: right;
}
.navbar-brand > img{
    width: 5vh;
    height: 5vh;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
.navbar-nav > li:hover{
    font-weight: bolder;
    border-radius:30px ;
    background-color: rgba(255, 0,0,0.75);
}
.dropdown-item:hover{
    background-color: rgba(214, 212, 212, 0.664);
    color: rgb(255, 0,0);
    font-weight: bolder;
}

.header-main-gap{
    height:10vh;
}
.carousel-inner{
    background-color: rgba(255, 0,0,0.75);
}
.carousel-inner > .carousel-item > img{
    padding-left:30vh ;
    padding-left:30vh ; 
    margin: 0;
    width: 80%;
    height: 90vh;
}
.carousel-control-prev > .carousel-control-prev-icon:hover{
    border-radius:50px;
}
.carousel-control-next > .carousel-control-next-icon:hover{
    
    border-radius:50px;
}
.aboutUs{
    margin-top: 15vh;
    margin-bottom: 15vh;
}
.carousel-inner > .carousel-item > .abt{
    padding-left:0 ;
    padding-left:0; 
    margin: 0;
    width: 100%;
    height: 50vh;
}

#carao>.carousel-item {
    width: 100%;     
    position: relative;
    transition:(.1s ease-in-out left);
}
.hr-style{
        padding: 0;
        border: 0; 
        height: 1px;
        width: 60%; 
        background-image: -webkit-linear-gradient(left,#fab0b0, #fb0000, #fab0b0);
        background-image: -moz-linear-gradient(left, #ff8282,  #fb0000, #ff8282);
        background-image: -ms-linear-gradient(left, #f0f0f0,  #fb0000, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0,  #fb0000, #f0f0f0); 
      
}

.imae{
    letter-spacing: 0.1px;
    color:rgb(243, 239, 219);
    font-size: 14px;
    padding: 3vh;
    background-color: rgba(246, 11, 11,0.7);
}
.col-md-5{
    margin: 0;
}

.aboutUs-image > img{
 /*   border-radius: 20px;*/
    width:100%;
}
.col-md-12{
    padding: 0;
}
.menu{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.row{
    margin: 0
}
.card{
    border:1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 0, 0, 0);

}
.card-img-top{
    width: 100%;
    border-radius : 10px;
    width:100%;
    margin: 2vh;
    height: 30vh;
}
.card-img-overlay{
    width: 100%;
    border-radius : 10px;
    width:100%;
    margin: 2vh;
    background-color: rgba(0, 0, 0, 0.4);
    color:white;
}

.service{
    padding: 3vh 0 15vh 0 ;
    background-color: rgba(187, 187, 187, 0.8);
    margin-top: 15vh;
    margin-bottom: 15vh;
}
.services-heading-items{
    margin:10vh;
}
.reservationContent ,.takeawaycontent{
    border-radius:10px;
    width:100%;
    height: 30vh;
}
.reservationContent> center > a {
    color: rgb(187, 12, 12);
}

.takeawaycontent >center > a{
    color: rgb(187, 12, 12);
}
.icon-space{
    width: 50%;
    height:50%;
    margin: auto auto;
}
.icon-space > i{
    
    border-radius: 50px;
}
.icon-space >img{
    width: 15vh;
    height: 15vh;
}

.contact{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.contact-content{
    padding-top:5vh;
}
.embeddedmap{
    position: relative;
    padding-bottom: 90%;
    height: 0;
    overflow: hidden;
}
.embeddedmap iframe{
    position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}
.contactForm{
    margin:10vh;
}

/* footer */
footer{
	position: block;
	bottom: 0;
}
 
@media (max-height:800px){
	footer { position: static; }
}
 
 
.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h4{
	color:  #ffffff;
	font-size:20;
	margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
.footer-distributed h4 span{
	color: rgb(187, 12, 12);
}
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 20px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:rgb(187, 12, 12);
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
/*menu page*/
.page{
	margin: 20px 250px ;
    border: 10px solid #bdc3c7;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;	
} 

.content {
    font-weight: bold;
    letter-spacing: 1px;
	padding: 20px;
}
h2 {
	color: #2c3e50;
}
.para{
	border-left: 5px solid #bdc3c7;
	padding: 5px;
}
.topic{
	font-weight: bolder;
	font-size: 20px;
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}   

.hori{
height: 30px;
border-style: solid;
border-color: black;
border-width: 1px 0 0 0;
border-radius: 20px;
}
.hori:before {
display: block;
content: "";
height: 30px;
margin-top: -31px;
border-style: solid;
border-color: black;
border-width: 0 0 1px 0;
border-radius: 20px;
}

table , tr,td,th{
    border:1px solid white;
    border-collapse: collapse;
}
th{
  color: #fb0000;  
}
td > .first{
    font-size:22px;
    color:red;
}
.sno{
    width:10vh;
}
.description{
    width:80vh;
}
.price{
    width:30vh;
}
.desc{
    font-style: italic;
    font-size: 12px;
}
.disclaimer{
    padding-left: 40vh;
}
.fa-pepper-hot{
    color:red;
}
.fa-seedling{
    color: green;
    width: 20px;
    height: 20px;
}



@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}





/*desktop*/
@media only screen and (max-width: 1280px) {

}
/*high resolution tablet*/
@media only screen and (max-width: 1024px) {
    .carousel-inner > .carousel-item > img{
        padding-left: 10%;
        padding-right: 10%;
        margin: 10% ;
        width: 100%;
        height: 80vh;
    }
    .aboutUs-image{
        padding:2%;
    }    
    .embeddedmap{
        width: 70vh;
        height: 85%;
    }
}


/*low resolution tablet*/
@media only screen and (max-width: 767px) {
    .carousel-inner > .carousel-item > img{
        width: 100%;
        height: 100vh;
    }
    
    .aboutUs-image{
        padding:0;
    }
    .embeddedmap{
        width: 70vh;
        height: 80%;
    }
}

/*For small-sized laptop screens*/
@media only screen and (max-width: 978px) {
    .page {
      padding:0;
      margin:0;
    }
}

/*mobile phone*/
@media only screen and (max-width: 480px) {
    html, body {
        overflow-x: hidden !important;
      }
    body {
        position: relative
    }
    .menu ,.contact{
        padding: 0 1vh;
    }
    
    .carousel-inner > .carousel-item > img{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 60vh;
    }
    #carao > .carousel-item > img{
        width:80%;
        height: 50vh;
    }
    .aboutUs-image{
        padding:0;
    }
    .takeawaycontent{
        margin-top: 25vh;
    }
    .page{
        margin: 2px 5px ;
        border: 1px solid #bdc3c7;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;	
    }
    .embeddedmap{
        position: relative;
        height: 0;
        overflow: hidden;
    }
    .embeddedmap iframe{
        position: absolute;
            top: 0;
            left: 0;
            width: 70% !important;
            height: 60vh !important;
    }
    .col-md-3{
        padding: 0;
    }
    .card-img-top{
        margin: 0;
    }
    .card-img-overlay{
        margin:0;
    }
    .col-md-5{
        margin-top: 1vh;
    }
    .col-lg-12{
        padding: 0;
    }
    
    .sno{
        width:10vh;
    }
    .description{
        width:90vh;
    }
    .price{
        width:10vh;
    }
    table tr td:nth-child(3){
        text-align: right;
    }
    tr{
        box-shadow: 0 2px rgba(0, 0, 0, 0.541)
    }
    .desc{
        font-style: italic;
        font-size: 12px;
    }
    .disclaimer{
        padding-left: 0;
    }
}

