<!DOCTYPE html>
<html>
    <meta lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nepalese Style</title>
        <meta name="description" content="Royal, Asian, Restaurant, Chinese, Indian, Nepali, Thai, Food, Suur 6, Jõgeva, Estonia, Reservation, Booking, Online, Order, Takeaway"/>
        <!--Bootstrap CDN files-->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet" href="../css/style.css">    
          <script src="https://kit.fontawesome.com/d62bf6ec58.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--This is for navigation and all the header element like a logo and language selection-->
        <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#"><img src="../Image/royalAsianRestaurant.png" alt="Royal Asia Restautant"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                <a class="nav-link m-auto" href="../../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../index.html#aboutUs">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="./appitiser.html">Appetisers</a>
                  <a class="dropdown-item" href="./soups.html">Soups</a>
                  <a class="dropdown-item" href="./salad.html">Salads</a>
  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="./chicken.html">Chicken</a>
                  <a class="dropdown-item" href="./pork.html">Pork</a>
                  <a class="dropdown-item" href="./beef.html">Beef</a>
                  <a class="dropdown-item" href="./lamb.html">Lamb</a>
                  <a class="dropdown-item" href="./seafood.html">Seafood</a>
                  <a class="dropdown-item" href="#">Nepalese Style</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="./vegetarian.html">Vegetarian</a>
                  <a class="dropdown-item" href="./side_dish.html">Side Dishes</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="./dessert.html">Desserts</a>
                  <a class="dropdown-item" href="./drinks.html">Drinks</a>      
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="../../index.html#service">Reservation</a>
                  <a class="dropdown-item" href="../../index.html#service">Take Away</a>
                 </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../index.html#contact">Contact Us</a>
              </li>
              
            </ul>
          </div>
        </nav>
        </header>
        <main>
            <div class="page">
                <div class="content">
                <p class="topic">Other Meats</p>
                <p>All the dishes with Indian and Thai are served with steamed basmati rice for free</p> 
                <hr class="hori">
                <table>
                  <tr>
                  <th class="sno">S No.</th>
                  <th class="description">Description</th>
                  <th class="price">Price(&#8364)</th>
                  </tr>
                  <tr>
                        <td>120</td>
                        <td><span class="first">C</span>rispy honey duck<br>
                        <span class="desc">Marinated crispy fried duck cooked in honey sauce with sesame seed</span></td>
                        <td>7.90</td>
                    </tr>
                    <tr>
                        <td>121</td>
                        <td><span class="first">C</span>hef special duck <span><i class="fas fa-pepper-hot"></i></span><br>
                        <span class="desc">Marinated fried duck coked with vegetables and coconut milk</span></td>
                        <td>7.90</td>
                    </tr>
                    <tr>
                        <td>122</td>
                        <td><span class="first">O</span>yster duck<br>
                        <span class="desc">Marinated fried duck cooked in Chinese sauce with vegetables</span></td>
                        <td>7.90</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td><span class="first">S</span>weet chilly duck <span><i class="fas fa-pepper-hot"></i></span><br>
                        <span class="desc">Marinated crispy fried duck cooked in sweet chilly sauce with sesame seed</span></td>
                        <td>7.90</td>
                    </tr>
                </table><br><br>
                <p class="disclaimer"><i class="fas fa-pepper-hot"></i> <i class="fas fa-pepper-hot"> </i> <i class="fas fa-pepper-hot"></i>stands for how much spicy they are</p>
                </div>
            </div>
            <div class="page">
                <div class="content">
                <p class="topic">Nepali Special</p>
                <p>All the dishes with Indian and Thai are served with steamed basmati rice for free</p>
                <hr class="hori">
                <table>
                  <tr>
                  <th class="sno">S No.</th>
                  <th class="description">Roll</th>
                  <th class="price">Price(&#8364)</th>
                  </tr>
                  <tr>
                      <td>98</td>
                      <td><span class="first"> C</span>hicken laliguras <span><i class="fas fa-pepper-hot"></i></span> <br>
                      <span class="desc"> Marinated fried slices of chicken cooked in creamy sauce with coconut milk, cashew nuts, nepali spices and served with rice, naan and raita </span></td>
                      <td>9.5</td>
                  </tr>
                  <tr>
                      <td>99</td>
                      <td><span class="first"> R</span>oyal special lamb <span><i class="fas fa-pepper-hot"></i></span> <br>
                      <span class="desc"> Marinated fried lamb cube cooked in creamy sauce with cashew nuts, pineapple, Nepali spices and served with rice, naan and raita </span></td>
                      <td>10.5</td>
                  </tr>
                  <tr>
                      <td>100</td>
                      <td><span class="first"> C</span>oconut pork <span><i class="fas fa-pepper-hot"></i></span> <br>
                      <span class="desc"> Marinated fried pork cube cooked in creamy sauce with butter, cashew nuts, coconut powder, nepali spices and serves with rice, naan and raita </span></td>
                      <td>9.5</td>
                  </tr>
                  <tr>
                      <td>101</td>
                      <td><span class="first"> V</span>egetable thali <span><i class="fas fa-pepper-hot"></i></span> <br>
                      <span class="desc"> Mixed vegetable cooked in creamy sauce with butter, nepali spices and served with rice, naan and raita </span></td>
                      <td>7.90</td>
                  </tr>
                  
                </table><br>
                <p class="disclaimer"><i class="fas fa-pepper-hot"></i> <i class="fas fa-pepper-hot"> </i> <i class="fas fa-pepper-hot"></i>stands for how much spicy they are</p>
                </div>
            </div>
        </main>
        <footer class="footer-distributed">
 
          <div class="footer-left">
              <img src="../Image/royalAsianRestaurant.png">
            <h4>Royal<span> Asian </span>Restaurant</h4>
     
            <p class="footer-links">
              <a href="../../index.html#home">Home</a>
              |
              <a href="../../index.html#aboutUs">About Us</a>
              |
              <a href="../../index.html#menu">Our Menu</a>
              |
              <a href="../../index.html#service">Our Service</a>
              |
              <a href="../../index.html#contact">Contact</a>
            </p>
     
            <p class="footer-company-name"> RoyalAsian</p>
          </div>
     
          <div class="footer-center">
            <div>
             <a href="https://goo.gl/maps/Jrxxd3rGeQDYHFLy7" target="_blank"> <i class="fas fa-map-marker"></i>
                <p><span>Royal Asian Restaurant<br> 
                    Kaarli Pst 9, Tallinn, Estonia</span></p></a>
                </div>
            <div>
              <a href="tel:+37254633966"><i class="fas fa-phone"></i>
                  <p>+37254633966</p></a>
            </div>
            <div>
             
              <p><a href="mailto:info@royalasian.ee"><i class="fas fa-envelope"></i>info@royalasian.ee</a></p>
            </div>
          </div>
          <div class="footer-right">
            <div class="footer-icons">
              <div>
                <a href="https://www.facebook.com/royalasian.ee/"><i class="fab fa-facebook-f"></i></a>  
              </div>
              <br>
              <div>
                <h4 style="color: aliceblue;">Language</h4>
              <a href="../est/est-index.html"><img src="../Image/estonia.png" alt="est"></a>
              <a href="../../index.html"><img src="../Image/english-language.png" alt="eng"></a>
      
              </div>
            </div>
          </div>
        
      </footer>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.js" integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
      
    </body>
</html> 
