<!DOCTYPE html>
<html>
    <meta lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Beef</title>
        <meta name="description" content="Royal, Asian, Restaurant, Chinese, Indian, Nepali, Thai, Food, Suur 6, Jõgeva, Estonia, Reservation, Booking, Online, Order, Takeaway"/>
        <!--Bootstrap CDN files-->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet" href="../css/style.css">
          <script src="https://kit.fontawesome.com/d62bf6ec58.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--This is for navigation and all the header element like a logo and language selection-->
        <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#"><img src="../Image/royalAsianRestaurant.png" alt="Royal Asia Restautant"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                <a class="nav-link m-auto" href="../../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../index.html#aboutUs">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="./appitiser.html">Appetisers</a>
                  <a class="dropdown-item" href="./soups.html">Soups</a>
                  <a class="dropdown-item" href="./salad.html">Salads</a>
  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="./chicken.html">Chicken</a>
                  <a class="dropdown-item" href="./pork.html">Pork</a>
                  <a class="dropdown-item" href="#">Beef</a>
                  <a class="dropdown-item" href="./lamb.html">Lamb</a>
                  <a class="dropdown-item" href="./seafood.html">Seafood</a>
                  <a class="dropdown-item" href="./other_meat.html">Other Meats</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="./vegetarian.html">Vegetarian</a>
                  <a class="dropdown-item" href="./side_dish.html">Side Dishes</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="./dessert.html">Desserts</a>
                  <a class="dropdown-item" href="./drinks.html">Drinks</a>      
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="../../index.html#service">Reservation</a>
                  <a class="dropdown-item" href="../../index.html#service">Take Away</a>
                 </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../index.html#contact">Contact Us</a>
              </li>
              
            </ul>
          </div>
        </nav>
        </header>
        <main>
            <div class="page">
                <div class="content">
                <p class="topic">Appetisers</p>
                <p>All the dishes with Indian and Thai are served with steamed basmati rice for free</p>
                    
                <hr class="hori">
                <table>
                  <tr>
                  <th class="sno">S No.</th>
                  <th class="description">Description</th>
                  <th class="price">Price(&#8364)</th>
                  </tr>
                  <tr>
                    <td> 1</td>
                    <td><span class="first">О</span>вощной ролл<br>
                    <span class="desc"> Хрустящий жареный блинчик с овощами</span></td>
                    <td>3.5</td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td><span class="first">С</span>принг роллы с курицей  <br>
                    <span class="desc"> Хрустящий жареный блин с курицей и овощами</span></td>
                    <td>4.00</td>
                </tr>
                <tr>
                    <td> 3 </td>
                    <td><span class="first">C</span>принг роллы с креветками  <br>
                    <span class="desc"> Хрустящий жареный блинчик с креветками и овощами</span></td>
                    <td>5.00</td>
                </tr>
                <tr>
                    <td> 4 </td>
                    <td><span class="first">C</span>принг ролл со смешанным мясом  <br>
                    <span class="desc">Хрустящий жареный блинчик с креветками, овощами и курицей </span></td>
                    <td>5.5</td>
                </tr>
                <tr>
                    <td> 5 </td>
                    <td><span class="first">к</span>уриные крылышки*  <br>
                    <span class="desc"> Маринованные куриные крылышки с луком, чили и паприкой в соусе</span></td>
                    <td>5.5</td>
                </tr>
                <tr>
                    <td> 6 </td>
                    <td><span class="first">Ч</span>или куриные рулетики **  <br>
                    <span class="desc">Маринованная жареная курица с луком, паприкой и чили </span></td>
                    <td>6.00</td>
                </tr>
                <tr>
                    <td> 7 </td>
                    <td><span class="first">К</span>артофель фри/медовая картошка/чили картофель  <br></td>
                    <td>3,50/4,5/4,5</td>
                </tr>
                <tr>
                    <td> 8 </td>
                    <td><span class="first">К</span>оролевская золотая жареная курица    <br>
                    <span class="desc">Нарезанная кусочками курица в золотом кляре со сладким чили чесночным соусом. </span></td>
                    <td>5.5</td>
                </tr>
                <tr>
                    <td> 9 </td>
                    <td><span class="first">Х</span>рустящие креветки**  <br>
                    <span class="desc"> Маринованные хрустящие креветки с луком и паприкой</span></td>
                    <td>8.0</td>
                </tr></table><br><br>
                <p class="disclaimer"><i class="fas fa-pepper-hot"></i> <i class="fas fa-pepper-hot"> </i> <i class="fas fa-pepper-hot"></i>stands for how much spicy they are</p>
                </div>
            </div>
        </main>
        <footer class="footer-distributed">
 
            <div class="footer-left">
                <img src="../Image/royalAsianRestaurant.png">
              <h4>Aasia<span> Kuninglik </span>Restoran</h4>
       
              <p class="footer-links">
                <a href="../est/est-index.html#home">Kodu </a>
                |
                <a href="../est/est-index.html#aboutUs">Meist</a>
                |
                <a href="../est/est-index.html#menu">Meie menüü </a>
                |
                <a href="../est/est-index.html#service">Meie teenus</a>
                |
                <a href="../est/est-index.html#contact">Võtke ühendust</a>
              </p>
       
              <p class="footer-company-name"> KuninglikAasia</p>
            </div>
       
            <div class="footer-center">
              <div>
               <a href="https://goo.gl/maps/Jrxxd3rGeQDYHFLy7" target="_blank"> <i class="fas fa-map-marker"></i>
                  <p><span> 
                    Aasia kuninglik restoran<br>                    
                    Kaarli Pst 9, Tallinn, Estonia 
                     </span></p></a>
                  </div>
              <div>
                <a href="tel:+37254633966"><i class="fas fa-phone"></i>
                    <p>+37254633966</p></a>
              </div>
              <div>
               
                <p><a href="mailto:info@royalasian.ee"><i class="fas fa-envelope"></i>info@royalasian.ee</a></p>
              </div>
            </div>
            <div class="footer-right">
              <div class="footer-icons">
                <div>
                  <a href="https://www.facebook.com/royalasian.ee/"><i class="fab fa-facebook-f"></i></a>  
                </div>
                <br>
                <div>
                  <h4 style="color: aliceblue;">Keel</h4>
                <a href="../est/est-index.html"><img src="../Image/estonia.png" alt="est"></a>
                <a href="../../index.html"><img src="../Image/english-language.png" alt="eng"></a>
                <!--<a href="#"><img src="../Image/russia.png" alt="rus"></a>-->
                </div>
              </div>
            </div>
          
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.js" integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
      </body>
  </html> 
  