<!DOCTYPE html>
<html>
    <meta lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Salads</title>
        <meta name="description" content="Royal, Asian, Restaurant, Chinese, Indian, Nepali, Thai, Food, Suur 6, Jõgeva, Estonia, Reservation, Booking, Online, Order, Takeaway"/>
        <!--Bootstrap CDN files-->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet" href="../css/style.css">    
          <script src="https://kit.fontawesome.com/d62bf6ec58.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--This is for navigation and all the header element like a logo and language selection-->
        <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#"><img src="../Image/royalAsianRestaurant.png" alt="Royal Asia Restautant"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                <a class="nav-link m-auto" href="../../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../index.html#aboutUs">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="./appitiser.html">Appetisers</a>
                  <a class="dropdown-item" href="./soups.html">Soups</a>
                  <a class="dropdown-item" href="#">Salads</a>
  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="./chicken.html">Chicken</a>
                  <a class="dropdown-item" href="./pork.html">Pork</a>
                  <a class="dropdown-item" href="./beef.html">Beef</a>
                  <a class="dropdown-item" href="./lamb.html">Lamb</a>
                  <a class="dropdown-item" href="./seafood.html">Seafood</a>
                  <a class="dropdown-item" href="./other_meat.html">Other Meats</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="./vegetarian.html">Vegetarian</a>
                  <a class="dropdown-item" href="./side_dish.html">Side Dishes</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="./dessert.html">Desserts</a>
                  <a class="dropdown-item" href="./drinks.html">Drinks</a>      
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="../../index.html#service">Reservation</a>
                  <a class="dropdown-item" href="../../index.html#service">Take Away</a>
                 </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../index.html#contact">Contact Us</a>
              </li>
              
            </ul>
          </div>
        </div>
        <div class="language">
          <a href="../pages/est_salad.html"><img src="../Image/estonia.png" alt="est"></a>
          <a href="../pages/salad.html"><img src="../Image/english-language.png" alt="eng"></a>
          <a href=".."><img src="../Image/russia.png" alt="rus"></a>
        </div>
        </nav>
        </header>
        <main>
            <div class="page">
                <div class="content">
                <p class="topic">Salads</p>   
                <hr class="hori">
                <table>
                <tr>
                  <th class="sno">S No.</th>
                  <th class="description">Description</th>
                  <th class="price">Price(&#8364)</th>
                </tr>
                    <tr>
                        <td>102</td>
                        <td><span class="first">F</span>resh green salad<br>
                        <span class="desc">Fresh green salad mixed with tomato, cucumber and carrot</span></td>
                        <td>2.9</td>
                    </tr>
                    <tr>
                        <td>103</td>
                        <td><span class="first">C</span>hicken salad<br>
                        <span class="desc">Fresh green salad mixed with chicken, cucumber, tomato and carrot</span></td>
                        <td>3.5</td>
                    </tr>
                    <tr>
                        <td>104</td>
                        <td><span class="first">S</span>hrimps salad<br>
                        <span class="desc">Fresh green salad mixed with shrimps, cucumber, carrot and tomato</span></td>
                        <td>4.9</td>
                    </tr>
                    
                    <tr>
                        <td>105</td>
                        <td><span class="first">M</span>ixed Salad<br>
                        <span class="desc">Fresh green salad mixed with chicken, shrimps, cucumber, carrot and tomato</span></td>
                        <td>5.5</td>
                    </tr>
                    <tr>
                        <td>106</td>
                        <td><span class="first">C</span>hef golden salad<br>
                        <span class="desc">Fresh green salad mixed with crispy fried noodle, ketchup, sesame seed, tomato, cucumber and carrot</span></td>
                        <td>3.5</td>
                    </tr>
                </table>
                </div>
            </div>
        </main>
        <footer class="footer-distributed">
 
          <div class="footer-left">
              <img src="../Image/royalAsianRestaurant.png">
            <h4>Royal<span> Asian </span>Restaurant</h4>
     
            <p class="footer-links">
              <a href="../../index.html#home">Home</a>
              |
              <a href="../../index.html#aboutUs">About Us</a>
              |
              <a href="../../index.html#menu">Our Menu</a>
              |
              <a href="../../index.html#service">Our Service</a>
              |
              <a href="../../index.html#contact">Contact</a>
            </p>
     
            <p class="footer-company-name"> RoyalAsian</p>
          </div>
     
          <div class="footer-center">
            <div>
             <a href="https://goo.gl/maps/Jrxxd3rGeQDYHFLy7" target="_blank"> <i class="fas fa-map-marker"></i>
                <p><span>Royal Asian Restaurant<br> 
                    Kaarli Pst 9, Tallinn, Estonia</span></p></a>
                </div>
            <div>
              <a href="tel:+37254633966"><i class="fas fa-phone"></i>
                  <p>+37254633966</p></a>
            </div>
            <div>
             
              <p><a href="mailto:info@royalasian.ee"><i class="fas fa-envelope"></i>info@royalasian.ee</a></p>
            </div>
          </div>
          <div class="footer-right">
            <div class="footer-icons">
              <div>
                <a href="https://www.facebook.com/royalasian.ee/"><i class="fab fa-facebook-f"></i></a>  
              </div>
              <br>
              <div>
                <h4 style="color: aliceblue;">Language</h4>
              <a href="../est/est-index.html"><img src="../Image/estonia.png" alt="est"></a>
              <a href="../../index.html"><img src="../Image/english-language.png" alt="eng"></a>
      
              </div>
            </div>
          </div>
        
      </footer>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.js" integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
      
    </body>
</html> 
