<!DOCTYPE html>
<html>
    <meta lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0">
        <title>Главная Rus - </title>
        <meta name="description" content="Royal, Asian, Restaurant, Chinese, Indian, Nepali, Thai, Food, Kaarli Pst 9, Tallinn, Estonia, Reservation, Booking, Online, Order, Takeaway"/>
        <!--Bootstrap CDN files-->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
          <link rel="stylesheet" href="../css/style.css">    
          <script src="https://kit.fontawesome.com/d62bf6ec58.js" crossorigin="anonymous"></script>
          <script src="../../form.js"></script>
        </head>
    <body>
        <!--This is for navigation and all the header element like a logo and language selection-->
        <header>  
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#"><img src="../Image/royalAsianRestaurant.png" alt="Royal Asia Restautant"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                <a class="nav-link m-auto" href="#home">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#aboutUs">Насчет нас</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Наше меню
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="../pages/est_appitiser.html">Sööjad</a>
                  <a class="dropdown-item" href="../pages/est_soups.html">Supid</a>
                  <a class="dropdown-item" href="../pages/est_salad.html">Salatid</a>
  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../pages/est_chicken.html">Kana</a>
                  <a class="dropdown-item" href="../pages/est_pork.html">Sealiha</a>
                  <a class="dropdown-item" href="./pages/est_pork.html">Veiseliha</a>
                  <a class="dropdown-item" href="../pages/est_lamb.html">Lambaliha</a>
                  <a class="dropdown-item" href="../pages/est_seafood.html">Mereannid</a>
                  <a class="dropdown-item" href="../pages/est_other_meat.html">Muu liha</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../pages/est_vegetarian.html">Taimetoitlane</a>
                  <a class="dropdown-item" href="../pages/est_side_dish.html">Kõrvalroad</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../pages/est_dessert.html">Magustoidud</a>
                  <a class="dropdown-item" href="../pages/est_drinks.html">Joogid</a>      
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Наши услуги
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#service">Reservation</a>
                  <a class="dropdown-item" href="#service">Take Away</a>
                 </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Свяжитесь с нами</a>
              </li>
            </ul>
          </div>
          <div class="language">
              <a href="../est/est-index.html"><img src="../Image/estonia.png" alt="est"></a>
              <a href="../../index.html"><img src="../Image/english-language.png" alt="eng"></a>
              <a href="#"><img src="../Image/russia.png" alt="rus"></a>
              </div>
        </nav>
        </header>
      <!--  <div class="header-main-gap">-->  

        </div>
        <main>
          <!--Image Carousel  -->
          <div id="home">
              <div id="demo" class="carousel slide" data-ride="carousel">

                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                  </ul>
                
                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../Image/image1.jpg" alt="img1">
                    </div>
                    <div class="carousel-item">
                      <img src="../Image/image2.jpg" alt="img2">
                    </div>
                    <div class="carousel-item">
                      <img src="../Image/image3.jpg" alt="img3">
                    </div>
                    <div class="carousel-item">
                      <img src="../Image/image4.jpg" alt="img4">
                    </div>
                  </div>
                
                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
          </div>
          <!-- ######## -->
          <!--About Us page-->
          <div class="aboutUs" id="aboutUs">
            <div class="aboutUs-headingContent">
               <center><h2 class="aboutUs-heading">Насчет нас</h2> </center> 
                <hr class="hr-style">
            </div>
            <div class="row">   
                <div class="col-md-12">
                    <div id="demo" class="carousel slide" data-ride="carousel">
  
                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                        </ul>
                      
                        <!-- The slideshow -->
                        <div class="carousel-inner" id="carao">
                          <div class="carousel-item active">
                            <img class="abt" src="../Image/about.jpg" alt="img1">
                          </div>
                          <div class="carousel-item">
                            <img class="abt" src="../Image/about1.jpg" alt="img2">
                          </div>
                        </div>
                      
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div>
                </div>    
                <div class="col-md-12" >
                    <div class="aboutUs-content imae">
                      <center>
                      <h3>Добро пожаловать в ресторан Royal Asian!</h3>
                      <p>Мы находимся в Старом городе Таллинна.<br> Мы предлагаем вкусные блюда различных кухонь, таких как китайская, тайская, индийская и непальская. <br>
                        Наша кухня изготовлена ​​из свежих ингредиентов по оригинальным рецептам.<br>Приходите и наслаждайтесь с нами!</p></center>
                </div>
              </div>  
                
              </div>
          </div>
          <!--#####About Us -->
          <div class="menu" id="menu">
            <div class="menu-heading">
              <center><h2>Некоторые специальные блюда</h2></center>
              <hr class="hr-style">
            </div>
            <div class="menu-list">
              <div class="row">
                <div class="offset-md-1"></div>
                <div class="col-md-3">
                  <div class="menu-item-group " data-aos="fade-right" data-aos-duration="1000" >
                      <div class="card">
                          <img class="card-img-top" src="../Image/appitiser.jpg" alt="Card image">
                          <div class="card-img-overlay">
                            <h4 class="card-title">Закуска</h4>
                            <a href="../pages/est_appitiser.html" class="btn btn-primary btn-sm">Больше связанных</a>
                          </div>
                        </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="menu-item-group"data-aos="fade-down" data-aos-duration="1000">
                      <div class="card">
                          <img class="card-img-top" src="../Image/soup.jpg" alt="Card image">
                          <div class="card-img-overlay">
                            <h4 class="card-title">Суп</h4>
                            <a href="../pages/est_soups.html" class="btn btn-primary btn-sm">Больше связанных</a>
                          </div>
                        </div>
                  </div> 
                </div>
                <div class="col-md-3">
                  <div class="menu-item-group" data-aos="fade-left" data-aos-duration="1000">
                      <div class="card">
                          <img class="card-img-top" src="../Image/chicken.jpg" alt="Card image">
                          <div class="card-img-overlay">
                            <h4 class="card-title">Курица</h4>
                            <a href="../pages/est_chicken.html" class="btn btn-primary btn-sm">Больше связанных</a>
                          </div>
                        </div>
                  </div>
                </div> 
              </div>
              <div class="row">
                  <div class="offset-md-1"></div>
                  <div class="col-md-3">
                    <div class="menu-item-group " data-aos="fade-right" data-aos-duration="1000">
                        <div class="card">
                            <img class="card-img-top" src="../Image/vegetarian.jpg" alt="Card image">
                            <div class="card-img-overlay">
                              <h4 class="card-title">вегетарианец</h4>
                              <a href="../pages/est_vegetarian.html" class="btn btn-primary btn-sm">Больше связанных</a>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="menu-item-group"data-aos="fade-up" data-aos-duration="1000">
                        <div class="card">
                            <img class="card-img-top" src="../Image/image3.jpg" alt="Card image">
                            <div class="card-img-overlay">
                              <h4 class="card-title">Жареный рис</h4>
                              <a href="../pages/side_dish.html" class="btn btn-primary btn-sm">Больше связанных</a>
                            </div>
                          </div>
                    </div> 
                  </div>
                  <div class="col-md-3">
                    <div class="menu-item-group" data-aos="fade-left" data-aos-duration="1000">
                        <div class="card">
                            <img class="card-img-top" src="../Image/image2.jpg" alt="Card image">
                            <div class="card-img-overlay">
                              <h4 class="card-title">напитки</h4>
                              <a href="../pages/est_drinks.html" class="btn btn-primary btn-sm">Больше связанных</a>
                            </div>
                          </div>
                    </div>
                  </div> 
                </div>
            </div>
          </div>
          <!--######Menu List-->
          <!--Our Services-->
          <div class="service" id="service">
            <div class="services-heading-items">
            <center><h2>Наши услуги</h2></center>
              <hr class="hr-style">
            </div>
            <div class="services-options">
             <div class="row">
                <div class="offset-md-1"></div>
                  <div class="col-md-5">
                    <div class="reservationContent" data-aos="flip-up" data-aos-duration="1000">
                      <center>  
                      <div class="icon-space">
                            <!--<i class="fa fa-bookmark fa-5x"></i>-->
                            <img src="../Image/reserve.png" alt="reservation">
                        </div>
                        <h4>Бронирование столиков</h4>
                        
                        <p>Вы можете забронировать столик в нашем ресторане и прийти в</p>
                        <!--<a href="#">Broneeri kohe!<i class="fas fa-arrow-right"></i></a></center>-->
                        <a href="tel:+37254633966"><i class="fas fa-phone"></i> +37254633966<br>Для бронирования позвоните нам!</a></center>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="takeawaycontent" data-aos="flip-down" data-aos-duration="800">
                      <center>  
                      <div class="icon-space">
                            <i class="fa fa-shopping-bag fa-5x"></i>
                        </div>
                        <h4>Еда на вынос</h4>
                        
                        <p>Приди и забери это с собой!</p>
                        <!--<a href="#">Võtke nüüd kaasa!<i class="fas fa-arrow-right"></i></a></center>-->
                        <a href="tel:+37254633966"><i class="fas fa-phone"></i> +37254633966<br>Позвоните нам!</a></center>                        
                    </div>
                      
                  </div>
                <div class="offset-md-1 col-md-5"></div>
              </div>
            </div> 
          </div>
          <!--####Our Services-->
          <!--Contact Page-->
          <div class="contact" id="contact">
            <div class="contact-heading-content">
              <center><h2>Свяжитесь с нами</h2></center>
              <hr class="hr-style">
            </div>
            <div class="contact-content">
              <div class="row">
              <div class="offset-md-1"></div>
               <div class="col-md-5">
                 <div class="embeddedmap" data-aos="zoom-out" data-aos-duration="1000">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2029.0651071795676!2d24.738989451348722!3d59.43198768160498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692949c18c6e5ab%3A0x635aae3177461db0!2sKaarli%20puiestee%209%2C%2010142%20Tallinn%2C%20Estonia!5e0!3m2!1sen!2sin!4v1572353801489!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                   </div>
                  
                </div>
               <div class="col-md-5">
                 <div class="form-content" data-aos="fade-left" data-aos-duration="1000">
                    <center><h4>Напишите нам сообщение!</h4>
                      <div class="row">
                          <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 mr-auto ml-auto">
                              <div class="panel panel-danger">
                                  <div class="panel-body">
                                      <form method="post" action ='../../send.php'>
                                          <div class="form-group">
                                              <label><i class="fa fa-user" aria-hidden="true"></i>имя</label>
                                              <input type="text" name="name" class="form-control" placeholder="Enter Name">
                                          </div>
                                                  <div class="form-group">
                                                      <label><i class="fa fa-envelope" aria-hidden="true"></i>Электронное письмо</label>
                                                      <input type="email" name="email" class="form-control" placeholder="Enter Email">
                                                  </div>
                                                  <div class="form-group">
                                                      <label><i class="fa fa-comment" aria-hidden="true"></i>Сообщение</label>
                                                      <textarea rows="3" name="message" class="form-control" placeholder="Type Your Message"></textarea>
                                                  </div>
                                                  <div class="form-group">
                                                      <button class="btn btn-raised btn-block btn-danger">Post &rarr;</button>
                                                  </div>
                                              </form>
                                              <div id="error_message" style="width:100%; height:100%; display:none; ">
                                                  <h4>
                                                      Error
                                                  </h4>
                                              
                                              </div>
                                              <div id="success_message" style="width:100%; height:100%; display:none; ">
              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </center>
                </div>
              </div>
               <div class="offset-md-1"></div>
             </div>
            </div>
          </div>
        </main>

        <footer class="footer-distributed">
 
            <div class="footer-left">
                <img src="../Image/royalAsianRestaurant.png">
              <h4>Королевский<span>Азиатский</span>Ресторан</h4>
       
              <p class="footer-links">
                <a href="#home">Главная</a>
                |
                <a href="#aboutUs">Насчет нас</a>
                |
                <a href="#menu">Наше меню</a>
                |
                <a href="#service">Наши услуги</a>
                |
                <a href="#contact">Свяжитесь с нами</a>
              </p>
       
              <p class="footer-company-name"> KuninglikAasia</p>
            </div>
       
            <div class="footer-center">
              <div>
               <a href="https://goo.gl/maps/Jrxxd3rGeQDYHFLy7" target="_blank"> <i class="fas fa-map-marker"></i>
                  <p><span> 
                    Королевский Азиатский Ресторан <br>
                    Kaarli Pst 9, Таллинн, Эстония 
                     </span></p></a>
                  </div>
              <div>
                <a href="tel:+37254633966"><i class="fas fa-phone"></i>
                    <p>+37254633966</p></a>
              </div>
              <div>
               
                <p><a href="mailto:info@royalasian.ee"><i class="fas fa-envelope"></i>info@royalasian.ee</a></p>
              </div>
            </div>
            <div class="footer-right">
              <div class="footer-icons">
                <div>
                  <a href="https://www.facebook.com/royalasian.ee/"><i class="fab fa-facebook-f"></i></a>  
                </div>
                <br>
                <div>
                  <h4 style="color: aliceblue;">язык</h4>
                <a href="../est/est-index.html"><img src="../Image/estonia.png" alt="est"></a>
                <a href="../../index.html"><img src="../Image/english-language.png" alt="eng"></a>
                <a href="#"><img src="../Image/russia.png" alt="rus"></a>
                </div>
              </div>
            </div>
          
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.js" integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
        <script>
            AOS.init();
          </script>
      </body>
</html> 
